<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jaya contact us</title>
    <link rel="stylesheet" href="../static/css/styles.css">

</head>
<body>

    <nav class="navbar">
        <div class="navbar-container">
            <!-- Toggle Button -->
            <button class="navbar-toggle" onclick="toggleMenu()">☰</button>
            <!-- Navigation Links -->
            <ul class="navbar-links">
                <li><a href="../index.html">الصفحه الرئيسيه</a></li>
                <li><a href="services.html">خدماتنا</a></li>
                <li><a href="who are we.html">من نحن</a></li>
                <li><a href="contact us.html">تواصل معنا</a></li>
            </ul>
            <!-- Logo -->
            <img src="../images/logo.jpeg" alt="Logo" class="navbar-logo">
        </div>
    </nav>
    <div class="contact-container">
        <!-- Left Part -->
        <div class="contact-box">
            <!-- Telephone Number Section -->
            <div class="contact-item">
                <a href="https://www.tiktok.com/@jaya_business?_t=8rCasNG5f7w&_r=1">
                    <img src="../images/tik-tok.png" alt="tiktok Icon" class="contact-icon">
                    <div class="contact-details">
                        <strong class="contact-title">Jaya Tiktok</strong>
                        <img src="../images/tiktok qr.png" class="contact-icon-5" >

                    </div>
                </a>
            </div>
            <hr>

            <!-- facebook Section -->
            <div class="contact-item">
                <a href="https://www.facebook.com/share/18N58LwyfX/">
                    <img src="../images/facebook1.png" alt="Facebook Icon" class="contact-icon">
                    <div class="contact-details">
                        <strong class="contact-title">Jaya Facebook</strong>
                        <img src="../images/facebookqr.png" class="contact-icon-5" >
                    </div>
                </a>
            </div>
            <hr>
    
            <!-- Email Section -->
            <div class="contact-item">
                <a href="https://wa.me/96597931941">
                    <img src="../images/whatsapp c.png" alt="whatsapp Icon" class="contact-icon">
                    <div class="contact-details">
                        <strong class="contact-title">Jaya Whatsapp</strong>
                        <img src="../images/whatsapp qr.png" class="contact-icon-5" >
                    </div>
                </a>
            </div>
            <hr>

             <!-- instgram Section -->
             <div class="contact-item">
                <a href="">
                    <img src="../images/instagram1.png" alt="instgram Icon" class="contact-icon">
                    <div class="contact-details">
                        <strong class="contact-title">Jaya instgram</strong>
                        <img src="../images/instgram qr.png" class="contact-icon-5" >
                    </div>
                </a>
            </div>
            <hr>

            <!-- Address Section -->
            <div class="contact-item">
                <a href="https://maps.app.goo.gl/6C612CEgrTtMazme9">
                    <img src="../images/youtube1.png" alt="Location Icon" class="contact-icon">
                    <div class="contact-details">
                        <strong class="contact-title">Jaya youtube</strong>
                        <img src="../images/youtube qr.png" class="contact-icon-5" >
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="fixed-icons">
        <a href="https://wa.me/96597931941" class="icon-whatsapp">
            <img src="../images/whatsapp c.png" alt="WhatsApp Icon" class="icon-img"  >
        </a>
    </div>
    <!-- Footer Section -->
    <footer class="footer">
        <div class="footer-container">
            <!-- First Part -->
            <div class="footer-content">
                <div class="social-icons">
                    <a href="https://www.tiktok.com/@jaya_business?_t=8rCasNG5f7w&_r=1">
                        <img src="../images/tiktok.png" alt="tiktok">
                    </a>
                    <a href="https://www.facebook.com/share/18N58LwyfX/">
                        <img src="../images/facebook.png" alt="Facebook">
                    </a>
                    <a href="https://wa.me/96597931941">
                        <img src="../images/whatsapp2.png" alt="WhatsApp">
                    </a>
                    <a href="https://www.instagram.com/jayabusinessandmarketing/profilecard/?igsh=MXVmZzRhNjhpNjdzbA==">
                        <img src="../images/instgram.png" alt="instgram">
                    </a>
                    <a href="https://youtube.com/@jayabusinessandmarketingsoluti?si=MRGg_xze7DsvIqId">
                        <img src="../images/youtube.png" alt="youtube">
                    </a>
                </div>
                <hr>
                <ul class="footer-links">
                    <li><a href="../index.html" >الرئيسيه</a></li>
                    <li><a href="contact us.html" >تواصل معنا</a></li>
                    <li><a href="services.html" >خدماتنا</a></li>
                    <li><a href="who are we.html" >من نحن</a></li>
                </ul>
            </div>
        </div>

        <!-- Scroll to Top Image Icon -->
        <div class="scroll-to-top">
            <img src="../images/top arrow.png" alt="Scroll to Top" onclick="scrollToTop()">
        </div>
    </footer>

    <script src="../static/js/script.js"></script>

</body>
</html>































































